.bg-secondary {
    background-color: #004489 !important;
    color: white;
    padding: 20px;
  }
  
  .copyright {
    background-color: #66aef2;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .bg-primary {
    background-color: #1b7d1a !important;
    color: white;
    padding: 20px;
  }
  
  nav {
    font-weight: 700;
    background-color: #333;
    padding: 10px 0;
    color: white;
  }
  
  .img-card {
    height: 18vw;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }